name: Release

on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: "release-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install .[dev]
        pip install twine

    - name: Download artifacts for unit tests
      uses: actions/download-artifact@v4.1.7
      with:
        name: unit-test-report
        path: dist/unit-test-report

    - name: Download artifacts for coverage
      uses: actions/download-artifact@v4.1.7
      with:
        name: coverage-report
        path: dist/coverage-report

    - name: Download artifacts for lint
      uses: actions/download-artifact@v4.1.7
      with:
        name: pylint-report
        path: dist/pylint-report

    - name: Download artifacts for codestyle
      uses: actions/download-artifact@v4.1.7
      with:
        name: codestyle-report
        path: dist/codestyle-report

    - name: Build package
      run: |
        python3 setup.py sdist bdist_wheel

    - name: Package release
      id: package
      run: |
        cd dist
        gh release upload ${{ github.ref }} \
        ankaios_sdk-*.tar.gz ankaios_sdk-*.whl \
        unit-test-report.zip \
        coverage-report.zip \
        pylint-report.zip \
        codestyle-report.zip

  publish:
    permissions: write-all
    uses: ./.github/workflows/publish.yml
