name: Release

on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: "release-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: ./.github/actions/ci-setup

    - name: "Upgrade dependencies"
      run: python3 -m pip install --upgrade twine build

    - name: "Build package"
      run: |
        python3 -m build

    - name: "Upload dist as artifact"
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: dist-artifact
        path: dist/

    - name: "Download artifacts for unit tests"
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: unit-test-report
        path: reports/unit-test-report

    - name: "Download artifacts for coverage"
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: coverage-report
        path: reports/coverage-report

    - name: "Download artifacts for lint"
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: pylint-report
        path: reports/pylint-report

    - name: "Download artifacts for codestyle"
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: codestyle-report
        path: reports/codestyle-report

    - name: "Compress the artifacts"
      run: |
        cd reports
        zip -r unit-test-report.zip unit-test-report
        zip -r coverage-report.zip coverage-report
        zip -r pylint-report.zip pylint-report
        zip -r codestyle-report.zip codestyle-report

    - name: "Package release"
      id: package
      run: |
        gh release upload ${{ github.ref_name }} \
        dist/ankaios_sdk-*.tar.gz \
        dist/ankaios_sdk-*.whl \
        reports/unit-test-report.zip \
        reports/coverage-report.zip \
        reports/pylint-report.zip \
        reports/codestyle-report.zip

  publish:
    needs: release
    environment:
      name: pypi
      url: https://pypi.org/p/ankaios-sdk
    permissions:
      id-token: write
    runs-on: ubuntu-latest

    steps:
    - name: "Download dist artifact"
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: dist-artifact
        path: dist

    - name: "Publish package to PyPI"
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        attestations: true

  docs:
    needs: publish
    permissions:
      pages: write
      id-token: write
    uses: ./.github/workflows/documentation.yml
